.DS_Store
symfony/.DS_Store
symfony/app/config/parameters.yml
symfony/build/
symfony/phpunit.xml
symfony/var/*
!symfony/var/cache
symfony/var/cache/*
!symfony/var/cache/.gitkeep
!symfony/var/logs
symfony/var/logs/*
!symfony/var/logs/.gitkeep
!symfony/var/sessions
symfony/var/sessions/*
!symfony/var/sessions/.gitkeep
!symfony/var/SymfonyRequirements.php
symfony/web/bundles/
blog/wp-config.php
