/** HR **/

.hr {
    border-bottom: 1px solid black;
}

.hr.w80 {
    width: 80%;
}

/** COLOR **/

.blackColor {
    color: #000;
}

/** BACKGROUND **/

.bgBlack {
    background-color: #000;
}
.bgWhite {
    background-color: #FFF;
}
.bgWhite.bgWhiteHover:hover {
    background-color: #EEE;
}

/** DIVERS **/

.displayBlock {
    display: block;
}

.margin0-auto {
    margin: 0 auto;
}

/** MARGIN **/

.mTop5 {
    margin-top: 5px;
}
.mTop10 {
    margin-top: 10px;
}
.mTop15 {
    margin-top: 15px;
}
.mTop20 {
    margin-top: 20px;
}
.mTop25 {
    margin-top: 25px;
}
.mTop30 {
    margin-top: 30px;
}

/** PADDING **/

.paddingX5 {
    padding: 0 5px;
}
.paddingX10 {
    padding: 0 10px;
}
.paddingX15 {
    padding: 0 15px;
}
.paddingX20 {
    padding: 0 20px;
}
.paddingX25 {
    padding: 0 25px;
}

.paddingY5 {
    padding: 5px 0px;
}
.paddingY10 {
    padding: 10px 0px;
}
.paddingY15 {
    padding: 15px 0px;
}
.paddingY20 {
    padding: 20px 0px;
}
.paddingY25 {
    padding: 25px 0px;
}
