/** BACKGROUND **/

.bgBlack {
    background-color: #000;
}

.displayBlock {
    display: block;
}

.margin0-auto {
    margin: 0 auto;
}

/** MARGIN **/

.mTop5 {
    margin-top: 5px;
}
.mTop10 {
    margin-top: 10px;
}
.mTop15 {
    margin-top: 15px;
}
.mTop20 {
    margin-top: 20px;
}
.mTop25 {
    margin-top: 25px;
}
.mTop30 {
    margin-top: 30px;
}

.paddingX5 {
    padding: 0 5px;
}
.paddingX10 {
    padding: 0 10px; 
}
.paddingX15 {
    padding: 0 15px;
}
.paddingX20 {
    padding: 0 20px;
}
.paddingX25 {
    padding: 0 25px;
}
