body {
    background-color: #F8F8F8 !important;
}

a.buttonLink, div.buttonLink {
    height: 45px;
    line-height: 45px;
    background-color: #402d1f;
    padding: 0 30px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}

.jssocials-share-logo {
    width: .8em !important;
    vertical-align: middle;
    font-size: 1.2em !important;
}

.jssocials-shares {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.formCustom input {
    border: 0 !important;
    background: none !important;
    border-bottom: 1px solid black !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.formCustom .w70 .form-group .form-control {
    width: 70% !important;
}

.formCustom .w30 .form-group .form-control {
    width: 30% !important;
}

.posSelectForm {
    position: relative;
    top: 28px;
}

@media (max-width: 991px) {
    .posSelectForm {
        top: 0 !important;
    }
}

.chevronForm {
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.bandeauForm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 10px 0;
}
