a.buttonLink {
    height: 45px;
    line-height: 45px;
    background-color: #402d1f;
    padding: 0 30px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}

.jssocials-share-logo {
    width: .8em !important;
    vertical-align: middle;
    font-size: 1.2em !important;
}

.jssocials-shares {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 5px;
}
